body {
	text-align: center;
	background: url("../images/monument.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	color: #fff;
	font-family: Times;
	opacity: 0.8;
	background-color: #D2D7D3;
}

nav {
	font-weight: bold;
	word-spacing: 100px;
	font-size: 14px
}

h1 {
	font-size: 64px;
	font-weight: bold;
	padding: 40px;
	margin-top: 400px;
}

h2 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	border: none;
    margin-top: 400px;
    margin-bottom: 0px;
    margin-right: 450px;
    margin-left: 450px;
    color: #000;
}

.subtitle {
	font-weight: bold;
}

hr {
  width: 300px;
  font-weight: bold;
}

footer {
	font-style: italic;
	border: none;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

ul {
    text-align: center;
    list-style-type: none;
    border: none;
    margin-top: 0px;
    margin-bottom: 200px;
    margin-right: 450px;
    margin-left: 440px;
    color: #000;
}
